/*belajar css link*/

/*visited : sudah dikunjungi 
hover : ketika cursor diarahkan pada link
active : yang sedang aktif dikunjungi*/

a:visited {
	color: red;
}

a:hover {
	color: blue;
}

a:active {
	color: green;
}

a:link {
	color:black;
}