h1::after{
	content: 'Nama';
}

h1::before{
	content: url(https://ibhuluimcom-a.akamaihd.net/ib.huluim.com/show/1304?region=US&size=952x536);
}

p::first-letter{
	color:red;
}

p::first-line{
	color: blue;
}

p::selection{
	color: yellow;
	background-color: black;
}